.all_messages {
  width: 68%;
  display: flex;
  flex-direction: column;
  padding: 10px; }
  .all_messages p {
    margin-top: 40px;
    font-size: 1.2rem;
    font-weight: bold; }
  .all_messages textarea {
    display: block;
    align-self: center;
    width: 90%;
    height: 50px;
    margin: 20px 0;
    resize: none; }
  .all_messages button {
    display: block;
    align-self: flex-end;
    width: 100px;
    padding: 5px;
    background-color: #000;
    color: #ffbffd; }
