.post {
  display: flex;
  margin: 40px 0; }
  .post_title {
    margin-left: 20px; }

.avatar {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  border-radius: 50px;
  background-color: #4164d0; }
  .avatar img {
    width: 100%;
    max-width: 100%;
    display: block; }
