.post {
  display: flex;
  margin: 40px 0;

  &_title {
    margin-left: 20px;
  }
}

.colored_circle {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  border-radius: 50px;
  background-color: #4164d0;
}